<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a href="{% url 'index' %}"><span class="navbar-brand mb-0 h1">Symptom Log</span></a>

        <!-- Toggler button for small viewports -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.role == "admin" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'patients_list' %}">Patients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'clinicians_list' %}">Clinicians</a>
                    </li>
                {% elif user.role == "clinician" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'patients_list' %}">Patients</a>
                    </li>
                {% elif user.role == "patient" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'forms_list' %}">Forms</a>
                    </li>
                {% endif %}
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Account</a>
                </li>-->
            </ul>

            <!-- Right logout -->
            <div class="d-flex align-items-center">
                <p class="my-0 mx-4 d-none d-lg-flex text-white">Hello, {{ user.first_name }}!</p>
                <a href="{% url 'logout' %}" class="btn btn-light">Log Out</a>
            </div>
        </div>
    </div>
</nav>