body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the body takes up at least the full viewport height */
    margin: 0;
}

.content-container {
    flex: 1; /* Allow the content to grow and push the footer down */
}

a.grey-link {
    color: grey; /* Set the text color to grey */
    text-decoration: underline; /* Add an underline to the link */
    transition: color 0.3s ease;
    margin-right: 16px;
}
  
 
a.grey-link:hover {
    color: #333;
}

input[type="datetime-local"] {
    width: auto;
}

