body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the body takes up at least the full viewport height */
    margin: 0;
}

.content-container {
    flex: 1; /* Allow the content to grow and push the footer down */
}

a.grey-link {
    color: grey; /* Set the text color to grey */
    text-decoration: underline; /* Add an underline to the link */
    transition: color 0.3s ease;
    margin-right: 16px;
}
  
 
a.grey-link:hover {
    color: #333;
}

input[type="datetime-local"] {
    width: auto;
}

textarea {
    width: 100%;
}


input[type="range"] {
    width: 100%;
    margin: 10px auto;

}

.slider-container {
    width: 85%;
    position: relative;
    text-align: center;
}

.slider-ticks span {
    position: absolute;
    bottom: -20px; /* adjust based on your design */
    transform: translateX(-50%);
}


input[type="checkbox"] {
    transform: scale(1.5);
}


.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #5e72e4;  /* Example color when the toggle is ON */
    border-color: #5e72e4;
}
