{% extends "core/base.html" %}

{% block title %}Form Responses - {{ form_instance.title }}{% endblock %}

{% block content %}
<div class="container my-5">
    <div>
        <h4 class="text-muted">{{ form_instance.patient }}</h4>
        <h1 class="display-6 fw-bold">Responses - {{ form_instance.title }}</h1>
    </div>

    <div class="my-4">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Datetime</th>
                <th scope="col">Form</th>
                <th scope="col">Patient</th>
                <th scope="col">Submitted By</th>
              </tr>
            </thead>
            <tbody>
              {% for response in form_responses %}
                <tr>
                  <td><a href="#">{{ response.submitted_at }}</a></td>
                  <td><a href="#">{{ form_instance.title }}</a></td>
                  <td><a href="#">{{ form_instance.patient }}</a></td>
                  <td>{{ response.submitted_by }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}