{% extends "core/base.html" %}

{% block title %}Form Responses - {{ form_instance.title }}{% endblock %}

{% block content %}
<div class="container my-5">
    <div>
        <h4 class="text-muted">{{ form_instance.patient }}</h4>
        <h1 class="display-6 fw-bold">{{ form_instance.title }}</h1>
        <div class="mt-2">
          <a href="{% url 'new_form_response' pk=form_instance.patient.id form_id=form_instance.id %}"><button type="button" class="btn btn-success my-3">Submit New Response</button></a>
          <a href="{% url 'edit_form' form_id=form_instance.id pk=form_instance.patient.id %}"><button type="button" class="btn btn-secondary my-3 mx-2">Edit Form</button></a>
        </div>
    </div>

    <h1>Charts</h1>
    <p class="text-center text-danger">Charts coming soon!</p>

    <h1>Responses</h1>

    <div class="my-4">
      {% include 'forms/form_responses_list_table.html' %}
    </div>
</div>
{% endblock %}