{% extends "core/base.html" %}

{% load custom_tags %}

{% block title %}New Form Response - {{ form_instance.title }}{% endblock %}

{% block content %}
<div class="container my-5">
    <div>
        <h4 class="text-muted">{{ form_instance.patient }}</h4>
        <h1 class="display-4 fw-bold">{{ form_instance.title }}</h1>
        <h5 class="text-muted">Fill out a new response.</h5>
    </div>

    <div class="my-4">
        <form method="post">
            {% csrf_token %}
            {% for question, form_class, form in form_response_forms %}
                <div class="card my-4">
                    <div class="card-content">
                        <div class="card-header">
                            <h5 class="card-title">{{ question.question_title }}</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">{{ question.label }}</h6>
                            {% for field in form %}
                                <p>
                                    {{ field.errors }}
                                    {{ field.help_text }}
                                    {% if field.name == "score" %}
                                        <div class="slider-container mx-auto">
                                            {{ field }}
                                            <div class="slider-ticks text-muted">
                                                {% for i in 10|rangefilter %}
                                                    <span data-value="{{ i }}">{{ i }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% elif field.name == "status" %}
                                        {% with question=field.field.question_instance %}
                                            <div class="d-flex align-items-center">
                                                <span>{{ field.field.widget.attrs.option_0 }}</span>
                                                <div class="form-check form-switch mx-4">
                                                    {{ field }} 
                                                    <label class="form-check-label" for="{{ field.auto_id }}"></label>
                                                </div>
                                                <span>{{ field.field.widget.attrs.option_1 }}</span>
                                            </div>
                                        {% endwith %}
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <input type="submit" value="Submit" class="btn btn-primary btn-lg float-end">
        </form>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const slider = document.querySelector('input[type="range"]');
    const ticks = document.querySelectorAll('.slider-ticks span');

    ticks.forEach(tick => {
        const value = tick.getAttribute('data-value');
        const position = (value - slider.min) / (slider.max - slider.min) * slider.offsetWidth;
        tick.style.left = position + 'px';
    });
});
</script>
{% endblock %}


