{% extends "core/base.html" %}

{% block title %}Form Response - {{ form_instance.title }}{% endblock %}

{% block content %}
<div class="container my-5">
    <div>
        <h4 class="text-muted"><a href="{% url 'patient_details' pk=form_instance.patient.id %}" class="link-secondary">{{ form_instance.patient }}</a></h4>
        <h1 class="display-6 fw-bold">{{ form_instance.title }}</h1>
        <h5 class="text-muted">{{ form_response.submitted_at  }} ({{ form_response.submitted_by }})</h5>
        <h5 class="text-muted"><i class="fa fa-angle-left" aria-hidden="true"></i> <a href="{% url 'form_responses_list' pk=form_instance.patient.id form_id=form_instance.id %}" class="link-secondary">All Responses</a></h5>
    </div>

    <div class="my-4">
        {% for response in question_responses %}
        <hr>
            <div>
                {% if response.eventresponse %}
                    <strong>
                        {% if response.question.eventquestion.label %}
                            {{ response.question.eventquestion.label }}:
                        {% else %}
                            {{ response.question.eventquestion.question_title }}
                        {% endif %}
                    </strong> {{ response.eventresponse.event_datetime }}
                {% elif response.multiplechoiceresponse %}
                    <strong>
                        {% if response.question.multiplechoicequestion.label %}
                            {{ response.question.multiplechoicequestion.label }}:
                        {% else %}
                            {{ response.question.multiplechoicequestion.question_title }}
                        {% endif %}
                    </strong> {{ response.multiplechoiceresponse.choice }}
                {% elif response.statusresponse %}
                    <strong>
                        {% if response.question.statusquestion.label %}
                            {{ response.question.statusquestion.label }}:
                        {% else %}
                            {{ response.question.statusquestion.question_title }}
                        {% endif %}
                    </strong> 
                    {% if response.question.statusquestion.option_0 and response.question.statusquestion.option_1 %}
                        {% if response.statusresponse.status %}
                            {{ response.question.statusquestion.option_1 }}
                        {% else %}
                            {{ response.question.statusquestion.option_0 }}
                        {% endif %}
                    {% else %}
                        {{ response.statusresponse.status }}
                    {% endif %}
                {% elif response.symptomscoreresponse %}
                    <strong>
                        {% if response.question.symptomscorequestion.label %}
                            {{ response.question.symptomscorequestion.label }}:
                        {% else %}
                            {{ response.question.symptomscorequestion.question_title }}
                        {% endif %}
                    </strong> {{ response.symptomscoreresponse.score }}
                {% elif response.textresponse %}
                    <strong>
                        {% if response.question.textquestion.label %}
                            {{ response.question.textquestion.label }}:
                        {% else %}
                            {{ response.question.textquestion.question_title }}
                        {% endif %}
                    </strong> {{ response.textresponse.text }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}