<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Datetime</th>
        <th scope="col">Form</th>
        <th scope="col">Patient</th>
        <th scope="col">Submitted By</th>
      </tr>
    </thead>
    <tbody>
      {% for response in form_responses %}
        <tr>
          <td><a href="#">{{ response.submitted_at }}</a></td>
          <td><a href="#">{{ response.form.title }}</a></td>
          <td><a href="#">{{ response.form.patient }}</a></td>
          <td>{{ response.submitted_by }} ({{ response.submitted_by.role }})</td>
        </tr>
      {% endfor %}
    </tbody>
</table>