{% extends "core/base.html" %}

{% block title %}Patient Details - {{ patient }}{% endblock %}

{% block content %}
  <div class="container my-5">
    <div>
      <h1 class="display-4 fw-bold">Patient - {{ patient }}</h1>
    </div>

    <p>
      <b>Date of Birth:</b> {{ patient.dob }} <br>
      <b>Sex:</b> {{ patient.get_sex_display }} <br>
      <b>Clinicians:</b> 
      {% for clinician in patient.clinicians.all %}
        {{ clinician }}{% if not forloop.last %},{% endif %} 
      {% endfor %}
    </p>

    <div>
      <h1>Charts</h1>
    </div>

    <p class="text-danger text-center">Charts Coming Soon</p>

    <div>
      <h1>Forms</h1>
      <div class="mt-2">
          <a href="#" class="grey-link">Add New Form</a>
      </div>
    </div>

    {% include 'forms/forms_list.html' with patient=patient patient_forms=patient_forms %}

    <div>
      <h1>All Form Responses</h1>
    </div>

    {% include 'forms/form_responses_list_table.html' with form_responses=form_responses %}

  </div>
{% endblock %}
