{% extends "core/base.html" %}

{% block content %}
  <div class="container my-5">
    <div>
      <h1 class="font-monospace">Patients</h1>
      <div class="mt-2">
        <a href="#" class="grey-link">Add Patient</a>
        <a href="#" class="grey-link">Register New Patient</a>
      </div>
    </div>

    <div class="my-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">DOB</th>
            <th scope="col">Sex</th>
            <th scope="col">Last Form Submission</th>
          </tr>
        </thead>
        <tbody>
          {% for patient in patients %}
            <tr>
              <td>{{ patient.user.first_name }} {{ patient.user.last_name }}</td>
              <td>{{ patient.dob }}</td>
              <td>{{ patient.get_sex_display }}</td>
              <td><!-- Add content for last form submission here --></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
